doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href="https://fonts.googleapis.com/css?family=Catamaran:400,900|Open+Sans:100,300,300i,400,600" rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")

    body
        block content
    script(src='/js/summoner.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/search.js')